%gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bee7f3+0,afb8e0+75,c0c0c0+95 */
	background: #bee7f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #bee7f3 0%, #afb8e0 75%, #c0c0c0 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bee7f3), color-stop(75%,#afb8e0), color-stop(95%,#c0c0c0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bee7f3 0%,#afb8e0 75%,#c0c0c0 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bee7f3 0%,#afb8e0 75%,#c0c0c0 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bee7f3 0%,#afb8e0 75%,#c0c0c0 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #bee7f3 0%,#afb8e0 75%,#c0c0c0 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bee7f3', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
}