h1 {
	font-size: 5em;
}

.slide {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.content-box {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;

	img {
		width: 50%;
		padding: 5px;
		border: 2px solid $color-secondary-1-4;

		@media (min-width: 1280px) {
			width: 640px;
		}
	}

	#home & { top: 70px; }
	#about & { margin-top: -20%; }
	#directions & { margin-top: -20%; }
}

#home { background-color: $color-primary-1; }
#about { background-color: $color-secondary-1-1; }
#directions { background-color: $color-secondary-2-1; }