/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	@extend %standardType;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Author Styles
   ========================================================================== */

html {
	background-color: #cdcdcd;
}

html,
body {
	min-height: 100%;

	@media (min-width: 1280px) {
		min-height: auto;
		height: 100%;
	}
}

header {
	position: fixed;
	width: 100%;
	z-index: 999;
}

nav,
footer {
	line-height: 30px;
	opacity: 0.85;
}

nav {
	background-color: #6D6D6D;
}

footer {
	z-index: 100;
	position: fixed;
	bottom: 0;
	width: 100%;
	cursor: pointer;

	text-align: center;
	font-size: 2.5em;

	#next {
		display: block;
		position: relative;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}

#content {
	height: 100%;
}

#banner {
	text-align: center;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover {
	background-color: $color-secondary-1-2;
}

.pure-menu-link:focus {
	background-color: transparent;
}

.pure-menu-link {
	color: $color-primary-1;
}

.pure-menu-horizontal.pure-menu-scrollable {
	padding: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

.invisible {
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}