/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about1-name: 'about1';
$about1-x: 600px;
$about1-y: 0px;
$about1-offset-x: -600px;
$about1-offset-y: 0px;
$about1-width: 300px;
$about1-height: 300px;
$about1-total-width: 1200px;
$about1-total-height: 676px;
$about1-image: '../../img/sprites.png';
$about1: (600px, 0px, -600px, 0px, 300px, 300px, 1200px, 676px, '../../img/sprites.png', 'about1', );
$about2-name: 'about2';
$about2-x: 0px;
$about2-y: 376px;
$about2-offset-x: 0px;
$about2-offset-y: -376px;
$about2-width: 300px;
$about2-height: 300px;
$about2-total-width: 1200px;
$about2-total-height: 676px;
$about2-image: '../../img/sprites.png';
$about2: (0px, 376px, 0px, -376px, 300px, 300px, 1200px, 676px, '../../img/sprites.png', 'about2', );
$about3-name: 'about3';
$about3-x: 300px;
$about3-y: 376px;
$about3-offset-x: -300px;
$about3-offset-y: -376px;
$about3-width: 300px;
$about3-height: 300px;
$about3-total-width: 1200px;
$about3-total-height: 676px;
$about3-image: '../../img/sprites.png';
$about3: (300px, 376px, -300px, -376px, 300px, 300px, 1200px, 676px, '../../img/sprites.png', 'about3', );
$about4-name: 'about4';
$about4-x: 600px;
$about4-y: 376px;
$about4-offset-x: -600px;
$about4-offset-y: -376px;
$about4-width: 300px;
$about4-height: 300px;
$about4-total-width: 1200px;
$about4-total-height: 676px;
$about4-image: '../../img/sprites.png';
$about4: (600px, 376px, -600px, -376px, 300px, 300px, 1200px, 676px, '../../img/sprites.png', 'about4', );
$about5-name: 'about5';
$about5-x: 900px;
$about5-y: 0px;
$about5-offset-x: -900px;
$about5-offset-y: 0px;
$about5-width: 300px;
$about5-height: 300px;
$about5-total-width: 1200px;
$about5-total-height: 676px;
$about5-image: '../../img/sprites.png';
$about5: (900px, 0px, -900px, 0px, 300px, 300px, 1200px, 676px, '../../img/sprites.png', 'about5', );
$bbb-color-sm-name: 'bbb-color-sm';
$bbb-color-sm-x: 900px;
$bbb-color-sm-y: 300px;
$bbb-color-sm-offset-x: -900px;
$bbb-color-sm-offset-y: -300px;
$bbb-color-sm-width: 300px;
$bbb-color-sm-height: 94px;
$bbb-color-sm-total-width: 1200px;
$bbb-color-sm-total-height: 676px;
$bbb-color-sm-image: '../../img/sprites.png';
$bbb-color-sm: (900px, 300px, -900px, -300px, 300px, 94px, 1200px, 676px, '../../img/sprites.png', 'bbb-color-sm', );
$bbb-color-name: 'bbb-color';
$bbb-color-x: 0px;
$bbb-color-y: 0px;
$bbb-color-offset-x: 0px;
$bbb-color-offset-y: 0px;
$bbb-color-width: 600px;
$bbb-color-height: 188px;
$bbb-color-total-width: 1200px;
$bbb-color-total-height: 676px;
$bbb-color-image: '../../img/sprites.png';
$bbb-color: (0px, 0px, 0px, 0px, 600px, 188px, 1200px, 676px, '../../img/sprites.png', 'bbb-color', );
$bbb-grey-sm-name: 'bbb-grey-sm';
$bbb-grey-sm-x: 900px;
$bbb-grey-sm-y: 394px;
$bbb-grey-sm-offset-x: -900px;
$bbb-grey-sm-offset-y: -394px;
$bbb-grey-sm-width: 300px;
$bbb-grey-sm-height: 94px;
$bbb-grey-sm-total-width: 1200px;
$bbb-grey-sm-total-height: 676px;
$bbb-grey-sm-image: '../../img/sprites.png';
$bbb-grey-sm: (900px, 394px, -900px, -394px, 300px, 94px, 1200px, 676px, '../../img/sprites.png', 'bbb-grey-sm', );
$bbb-grey-name: 'bbb-grey';
$bbb-grey-x: 0px;
$bbb-grey-y: 188px;
$bbb-grey-offset-x: 0px;
$bbb-grey-offset-y: -188px;
$bbb-grey-width: 600px;
$bbb-grey-height: 188px;
$bbb-grey-total-width: 1200px;
$bbb-grey-total-height: 676px;
$bbb-grey-image: '../../img/sprites.png';
$bbb-grey: (0px, 188px, 0px, -188px, 600px, 188px, 1200px, 676px, '../../img/sprites.png', 'bbb-grey', );
$spritesheet-width: 1200px;
$spritesheet-height: 676px;
$spritesheet-image: '../../img/sprites.png';
$spritesheet-sprites: ($about1, $about2, $about3, $about4, $about5, $bbb-color-sm, $bbb-color, $bbb-grey-sm, $bbb-grey, );
$spritesheet: (1200px, 676px, '../../img/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
