/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bbb-color-sm-name: 'bbb-color-sm';
$bbb-color-sm-x: 900px;
$bbb-color-sm-y: 394px;
$bbb-color-sm-offset-x: -900px;
$bbb-color-sm-offset-y: -394px;
$bbb-color-sm-width: 300px;
$bbb-color-sm-height: 94px;
$bbb-color-sm-total-width: 1200px;
$bbb-color-sm-total-height: 826px;
$bbb-color-sm-image: '../../img/sprites.png';
$bbb-color-sm: (900px, 394px, -900px, -394px, 300px, 94px, 1200px, 826px, '../../img/sprites.png', 'bbb-color-sm', );
$bbb-color-name: 'bbb-color';
$bbb-color-x: 0px;
$bbb-color-y: 188px;
$bbb-color-offset-x: 0px;
$bbb-color-offset-y: -188px;
$bbb-color-width: 600px;
$bbb-color-height: 188px;
$bbb-color-total-width: 1200px;
$bbb-color-total-height: 826px;
$bbb-color-image: '../../img/sprites.png';
$bbb-color: (0px, 188px, 0px, -188px, 600px, 188px, 1200px, 826px, '../../img/sprites.png', 'bbb-color', );
$bbb-grey-sm-name: 'bbb-grey-sm';
$bbb-grey-sm-x: 900px;
$bbb-grey-sm-y: 300px;
$bbb-grey-sm-offset-x: -900px;
$bbb-grey-sm-offset-y: -300px;
$bbb-grey-sm-width: 300px;
$bbb-grey-sm-height: 94px;
$bbb-grey-sm-total-width: 1200px;
$bbb-grey-sm-total-height: 826px;
$bbb-grey-sm-image: '../../img/sprites.png';
$bbb-grey-sm: (900px, 300px, -900px, -300px, 300px, 94px, 1200px, 826px, '../../img/sprites.png', 'bbb-grey-sm', );
$bbb-grey-name: 'bbb-grey';
$bbb-grey-x: 0px;
$bbb-grey-y: 0px;
$bbb-grey-offset-x: 0px;
$bbb-grey-offset-y: 0px;
$bbb-grey-width: 600px;
$bbb-grey-height: 188px;
$bbb-grey-total-width: 1200px;
$bbb-grey-total-height: 826px;
$bbb-grey-image: '../../img/sprites.png';
$bbb-grey: (0px, 0px, 0px, 0px, 600px, 188px, 1200px, 826px, '../../img/sprites.png', 'bbb-grey', );
$engagement1-sm-name: 'engagement1-sm';
$engagement1-sm-x: 0px;
$engagement1-sm-y: 676px;
$engagement1-sm-offset-x: 0px;
$engagement1-sm-offset-y: -676px;
$engagement1-sm-width: 150px;
$engagement1-sm-height: 150px;
$engagement1-sm-total-width: 1200px;
$engagement1-sm-total-height: 826px;
$engagement1-sm-image: '../../img/sprites.png';
$engagement1-sm: (0px, 676px, 0px, -676px, 150px, 150px, 1200px, 826px, '../../img/sprites.png', 'engagement1-sm', );
$engagement1-name: 'engagement1';
$engagement1-x: 600px;
$engagement1-y: 376px;
$engagement1-offset-x: -600px;
$engagement1-offset-y: -376px;
$engagement1-width: 300px;
$engagement1-height: 300px;
$engagement1-total-width: 1200px;
$engagement1-total-height: 826px;
$engagement1-image: '../../img/sprites.png';
$engagement1: (600px, 376px, -600px, -376px, 300px, 300px, 1200px, 826px, '../../img/sprites.png', 'engagement1', );
$engagement2-sm-name: 'engagement2-sm';
$engagement2-sm-x: 900px;
$engagement2-sm-y: 488px;
$engagement2-sm-offset-x: -900px;
$engagement2-sm-offset-y: -488px;
$engagement2-sm-width: 150px;
$engagement2-sm-height: 150px;
$engagement2-sm-total-width: 1200px;
$engagement2-sm-total-height: 826px;
$engagement2-sm-image: '../../img/sprites.png';
$engagement2-sm: (900px, 488px, -900px, -488px, 150px, 150px, 1200px, 826px, '../../img/sprites.png', 'engagement2-sm', );
$engagement2-name: 'engagement2';
$engagement2-x: 600px;
$engagement2-y: 0px;
$engagement2-offset-x: -600px;
$engagement2-offset-y: 0px;
$engagement2-width: 300px;
$engagement2-height: 300px;
$engagement2-total-width: 1200px;
$engagement2-total-height: 826px;
$engagement2-image: '../../img/sprites.png';
$engagement2: (600px, 0px, -600px, 0px, 300px, 300px, 1200px, 826px, '../../img/sprites.png', 'engagement2', );
$engagement3-sm-name: 'engagement3-sm';
$engagement3-sm-x: 1050px;
$engagement3-sm-y: 488px;
$engagement3-sm-offset-x: -1050px;
$engagement3-sm-offset-y: -488px;
$engagement3-sm-width: 150px;
$engagement3-sm-height: 150px;
$engagement3-sm-total-width: 1200px;
$engagement3-sm-total-height: 826px;
$engagement3-sm-image: '../../img/sprites.png';
$engagement3-sm: (1050px, 488px, -1050px, -488px, 150px, 150px, 1200px, 826px, '../../img/sprites.png', 'engagement3-sm', );
$engagement3-name: 'engagement3';
$engagement3-x: 300px;
$engagement3-y: 376px;
$engagement3-offset-x: -300px;
$engagement3-offset-y: -376px;
$engagement3-width: 300px;
$engagement3-height: 300px;
$engagement3-total-width: 1200px;
$engagement3-total-height: 826px;
$engagement3-image: '../../img/sprites.png';
$engagement3: (300px, 376px, -300px, -376px, 300px, 300px, 1200px, 826px, '../../img/sprites.png', 'engagement3', );
$engagement4-sm-name: 'engagement4-sm';
$engagement4-sm-x: 150px;
$engagement4-sm-y: 676px;
$engagement4-sm-offset-x: -150px;
$engagement4-sm-offset-y: -676px;
$engagement4-sm-width: 150px;
$engagement4-sm-height: 150px;
$engagement4-sm-total-width: 1200px;
$engagement4-sm-total-height: 826px;
$engagement4-sm-image: '../../img/sprites.png';
$engagement4-sm: (150px, 676px, -150px, -676px, 150px, 150px, 1200px, 826px, '../../img/sprites.png', 'engagement4-sm', );
$engagement4-name: 'engagement4';
$engagement4-x: 900px;
$engagement4-y: 0px;
$engagement4-offset-x: -900px;
$engagement4-offset-y: 0px;
$engagement4-width: 300px;
$engagement4-height: 300px;
$engagement4-total-width: 1200px;
$engagement4-total-height: 826px;
$engagement4-image: '../../img/sprites.png';
$engagement4: (900px, 0px, -900px, 0px, 300px, 300px, 1200px, 826px, '../../img/sprites.png', 'engagement4', );
$engagement5-sm-name: 'engagement5-sm';
$engagement5-sm-x: 300px;
$engagement5-sm-y: 676px;
$engagement5-sm-offset-x: -300px;
$engagement5-sm-offset-y: -676px;
$engagement5-sm-width: 150px;
$engagement5-sm-height: 150px;
$engagement5-sm-total-width: 1200px;
$engagement5-sm-total-height: 826px;
$engagement5-sm-image: '../../img/sprites.png';
$engagement5-sm: (300px, 676px, -300px, -676px, 150px, 150px, 1200px, 826px, '../../img/sprites.png', 'engagement5-sm', );
$engagement5-name: 'engagement5';
$engagement5-x: 0px;
$engagement5-y: 376px;
$engagement5-offset-x: 0px;
$engagement5-offset-y: -376px;
$engagement5-width: 300px;
$engagement5-height: 300px;
$engagement5-total-width: 1200px;
$engagement5-total-height: 826px;
$engagement5-image: '../../img/sprites.png';
$engagement5: (0px, 376px, 0px, -376px, 300px, 300px, 1200px, 826px, '../../img/sprites.png', 'engagement5', );
$spritesheet-width: 1200px;
$spritesheet-height: 826px;
$spritesheet-image: '../../img/sprites.png';
$spritesheet-sprites: ($bbb-color-sm, $bbb-color, $bbb-grey-sm, $bbb-grey, $engagement1-sm, $engagement1, $engagement2-sm, $engagement2, $engagement3-sm, $engagement3, $engagement4-sm, $engagement4, $engagement5-sm, $engagement5, );
$spritesheet: (1200px, 826px, '../../img/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
