/**
 * Typography
 */

%GreatVibes { font-family: 'Great Vibes', arial, sans-serif; }
%PoiretOne { font-family: "Poiret One", cursive; }
%JosefinSans { font-family: 'Josefin Sans', sans-serif; }
%JuliusSansOne { font-family: 'Julius Sans One', sans-serif; }

%h1 {
	@extend %GreatVibes;
}

%h2 {
	font-weight: bold;
	font-size: 2em;
}

%h3 {
	@extend %JuliusSansOne;
	font-weight: bold;
	font-size: 4em;
}

%h4 {
	@extend %PoiretOne;
	font-style: italic;
	font-size: 2em;
}

html {
	// @extend %Montserrat;
	@extend %JosefinSans;
}

nav {
	@extend %JuliusSansOne;
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }