/**
 * Typography
 */

%GreatVibes { font-family: 'Great Vibes', arial, sans-serif; }
%PoiretOne { font-family: "Poiret One", cursive; }
%JosefinSans { font-family: 'Josefin Sans', sans-serif; }
%JuliusSansOne { font-family: 'Julius Sans One', sans-serif; }

%standardType {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

%h1 {
	@extend %GreatVibes;
	font-size: 3em;
	@media (min-width: 1024px) {
		font-size: 5em;
	}
}

%h2 {
	font-weight: bold;
	font-size: 1.75em;
	@media (min-width: 1024px) {
		font-size: 2em;
	}
}

%h3 {
	@extend %JuliusSansOne;
	font-weight: bold;
	font-size: 3em;
	@media (min-width: 1024px) {
		font-size: 4em;
	}
}

%h4 {
	@extend %PoiretOne;
	font-style: italic;
	font-size: 1.25em;
	@media (min-width: 1024px) {
		font-size: 2em;
	}
}

%h5 {
	font-size: 1.25em;
}

%p {
	font-size: 1.25em;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	// @extend %Montserrat;
	@extend %JosefinSans;
}

nav {
	@extend %JuliusSansOne;
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }

a {
	color: $color-link;

	&:hover {
		cursor: pointer;
	}
}

p {
	@extend %p;
}