/**
 * Typography
 */

%GreatVibes {
	font-family: 'Great Vibes', arial, sans-serif;
}

%Montserrat {
	font-family: "Montserrat",arial,sans-serif;
}

%h1 {
	@extend %GreatVibes;
	font-size: 3em;
}

%h2 {
	font-weight: bold;
}

html {
	@extend %Montserrat;
}

h1 { @extend %h1; }
h2 { @extend %h2; }